.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.user-form div {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.user-form div label {
  flex: 1;
}

.user-form div input {
  flex: 3;
}

.flex {
  display: flex;
  margin-top: 32px;
}

.first {
  background-color: tomato;
  flex: 2;
}

.second {
  background-color: #61dafb;
  flex: 1;
}

.card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #3a6875;
  width: 200px;
  justify-content: center;
  margin: 20px auto;
  border-radius: 8px;
  color: #FFF;
  font-weight: 600;
}

/* .card *:not(:first-child) {
  margin-top: 12px;
} */
