@import '_variables.scss';

.App {
  text-align: center;
  background-color: $background-color;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.user-list {
  /* $base-color: blue; */ 
  &-wrapper { // .user-list-wrapper
    margin-top: 64px;
    padding: 0 16px;
    input {
      padding: 12px 24px;
      border-radius: 4px;
      margin-bottom: 24px;
    }
  }
  &-table { // .user-list-table
    td, th {
      padding: 6px;
      border: 1px solid #ddd;
      color: $base-color;
    }
    border-collapse: collapse;
    thead {
      tr {
        background-color:#31695c;
        th {
          color: #FFF;
        }
      }
    }
    tbody {
      tr:nth-child(even) {
        background-color: #bde7f3;
      }
    }

  }
  &-header {
    color: #333;
    font-size: 40px;
    font-weight: 600;
    text-decoration: underline;
  }
}

.user-list-header {
    &.red-header {
      color: tomato;
    }
}